* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hint {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
  padding: 0 10px;
  line-height: 20px;
  color: #fff;
}